
.btn,.label {
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.btn {
	font-weight:400;
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:3px;
}
.btn:hover,.btn:focus {
	outline:none;
}
.btn-link {
	color:#1abc9c;
}
.btn-link:hover,.btn-link:focus {
	color:#16a085;
}
.tulisan{
  border-color:#fff;
  color:#fc7700;
  background-color:#fff;
}
.btn-default,.label-default {
	border-color:#FFF;
	color:#fff;
	background-color:#fc7700;
	border-width:2px;
	padding:15px 20px;
}
.btn-default:hover,.btn-default:focus {
	background-color:#F9FAFD;
	border-color:#F9FAFD;
	color:#444;
}
.btn-success,.label-success,.alert-success {
	background-color:#FFF;
	border-color:#FFF;
	color:#1E2024;
}
.btn-success:hover,.btn-success:focus {
	border-color:#FFF;
	background-color:#FFF;
	color:#000;
}
.btn-primary,.label-primary {
	background-color:#444;
	border-color:#444;
}
.btn-primary:hover,.btn-primary:focus {
	background-color:#d33c00;
	border-color:#d33c00;
}
.btn-info,.label-info,.alert-info {
	background-color:#FFF;
	border-color:#FFF;
	color:#01B0D1;
}
.btn-info:hover,.btn-info:focus {
	background-color:#FFF;
	border-color:#FFF;
	color:#0299b8;
}
.btn-warning,.label-warning,.alert-warning {
	background-color:#e67e22;
	border-color:#e67e22;
}
.btn-warning:hover,.btn-warning:focus {
	background-color:#d35400;
	border-color:#d35400;
}
.btn-danger,.label-danger,.alert-danger {
	background-color:#e74c3c;
	border-color:#e74c3c;
}
.btn-danger:hover,.btn-danger:focus {
	background-color:#c0392b;
		border-color: #c0392b;
}

/*	Header	==================================================*/
#header {
	box-shadow:0 0 5px rgba(0,0,0,.05);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.05);
}
/*	Parallax Background	==================================================*/
#parallax {
	height:100%;
	width:100%;
	top:0;
	position:fixed;
	background-image:url(http://unsplash.it/1600/600?random=1);
  /*background-image:url(../../../UsrAlumni/dashboard/images/slider/slide2.jpg);*/
/*  background-image:url(public/HomyC/assets/img/intro.jpg);*/
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -100;
}
/*	Navbar	==================================================*/
.navbar-inverse .navbar-brand {
	/*padding:30px 15px;*/
	margin-right:30px;
	color:inherit;
	text-transform:uppercase;
	font-weight:bold;
}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {
	color:#000;
}
.navbar-inverse {
	background-color:#FFF;
		border:none;
}
.navbar-right button {
	margin:23px 0;
}
.navbar-nav>li>a {
	padding:30px 0;
	margin: auto;
}
.navbar-inverse .navbar-nav>li>a {
	color:inherit;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
	background-color:transparent;
	background-color:rgba(255,255,255,0);
	color:#01b0d1;
}
.header-button {
	margin-left: 15px;
}
/*	Hero	==================================================*/
#hero {
	margin-top:140px;
	padding:0;
	color:#FFF;
}
#hero .herotext {
	padding:160px 0px;
}
#hero h1 {
	font-size:50px;
}
#hero p.lead {
	font-size:1.4em;
}
#hero .btn {
	font-size:12px;
}

/*	Common	==================================================*/ 
.section {	
	
}
.wrapsection {  
    padding-top:140px;
	padding-bottom:140px;
    position: relative;
  }

.parallax.section .container{
	position: relative;
	z-index: 4;
}
.justtitle {
	margin-top:80px;
}
.parallax {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	z-index: 1;	
	color:#fff;
}
.parallax-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}