<div class="panel panel-default">
	<form name="SadminEditPassController1.resetAcc" ng-submit="SadminEditPassController1.updatePass(firstPassword,SadminEditPassController1.resetAcc.firstPassword.$valid)">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12">
					Data Superadmin
					<h4 align="center" class="alert alert-danger" ng-show="SadminEditPassController1.errorMsg">{{SadminEditPassController1.errorMsg}}</h4>
					<span class="pull-right">
						<button type="submit" class="btn btn-sm btn-success">
							<i class="fa fa-arrow-right"></i> Update
						</button>
					</span>
				</div>
			</div>
		</div>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<!-- left column -->
				<div class="col-md-12">
					<!-- general form elements -->
					<!-- Input addon -->
					<div class="box box-info">
						<div class="box-header">
							<h4 class="box-title">Change Password</h4>
						</div>
						<!-- glyphicon glyphicon-user -->
						<div class="box-body">
							<div class="input-group" ng-class="{ 'has-success': confirmed && !SadminEditPassController1.resetAcc.firstPassword.$error.$required, 'has-error':(!confirmed && !SadminEditPassController1.resetAcc.firstPassword.$error.$required) || (SadminEditPassController1.resetAcc.firstPassword.$error.required && !SadminEditPassController1.resetAcc.firstPassword.$pristine)}">
								<span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
								<input type="text" name="firstPassword" ng-model="firstPassword" id="firstPassword" class="form-control" placeholder="Password" required>
							</div>
							<br/>
							<div class="input-group" ng-class="{ 'has-success': confirmed && !SadminEditPassController1.resetAcc.confirmPassword.$error.$required, 'has-error':(!confirmed && !SadminEditPassController1.resetAcc.confirmPassword.$error.$required) || (SadminEditPassController1.resetAcc.confirmPassword.$error.required && !SadminEditPassController1.resetAcc.confirmPassword.$pristine)}">
								<span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
								<input type="password" ng-model="confirm" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Retype Password" match="{{[firstPassword]}}" ng-change="function()" required>
								<label class="control-label" ng-show="!confirmed && !confirmed &&!SadminEditPassController1.resetAcc.confirmPassword.$pristine && SadminEditPassController1.resetAcc.firstPassword.$valid" for="inputError"><i class="fa fa-times-circle-o"></i> Password Not Match</label>
								
							</div>
							<br/>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div><!--/.col (left) -->
			</div>
		</section>
	</form>
</div>
