<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<div class="p-lg panel md-whiteframe-z1 text-color m">
			<form name="sigForm" ng-submit="SignupController1.signup(sgnData);">
				<h2>Please Sign Up <small>For Superadmin</small></h2>
				<h4 align="center" class="alert alert-danger" ng-show="SignupController1.errorMsg">{{SignupController1.errorMsg}}</h4>
				<hr class="colorgraph">

				<div class="md-form-group float-label">
					<input autofocus ng-model="SignupController1.sgnData.nama" type="text" name="nama" id="nama" class="md-input" tabindex="1" required>
					<label>Name</label>
				</div>

						<!-- <div class="col-xs-12 col-sm-6 col-md-6">
							<div class="md-form-group float-label">
								<input ng-model="SignupController1.id_superadmin" type="text" name="id_superadmin" id="id_superadmin" class="md-input" tabindex="2" value="1" readonly>
								<label>Id Superadmin</label>
							</div>
						</div>
					</div>
					<div class="md-form-group float-label">
						<input ng-model="SignupController1.level" type="text" name="level" id="level" class="md-input" tabindex="3" value="Superadmin" readonly>
						<label>Level</label>
					</div> -->
					<div class="md-form-group float-label" ng-class="{ 'has-success':(!SignupController1.usernameInvalid), 'has-error':SignupController1.usernameInvalid }">
						<p class="help help-block text-success" ng-show="SignupController1.usernameMsg && !sigForm.username.$error.required && sigForm.username.$valid">{{SignupController1.usernameMsg}}</p>
						<input autofocus ng-model="SignupController1.sgnData.username" ng-blur="SignupController1.checkUsername(sgnData)" type="text" name="username" id="username" class="md-input" tabindex="2" required>
						<label>Username</label>
					</div>
					<div class="md-form-group float-label" ng-class="{ 'has-success':(!SignupController1.emailInvalid), 'has-error':SignupController1.emailInvalid }">
						<p class="help help-block text-success" ng-show="SignupController1.emailMsg && !sigForm.email.$error.required && sigForm.email.$valid">{{SignupController1.emailMsg}}</p>
						<input ng-model="SignupController1.sgnData.email" ng-blur="SignupController1.checkEmail(sgnData)" type="email" name="email" id="email" class="md-input" tabindex="3" required>
						<label>Email</label>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="md-form-group float-label">
								<input ng-model="SignupController1.sgnData.password" type="password" name="password" id="password" class="md-input" tabindex="4">
								<label>Password</label>
							</div>
						</div>
						<!-- <div class="col-xs-12 col-sm-6 col-md-6">
							<div class="md-form-group float-label">
								<input ng-model="SignupController1.sgnData.confirmPassword" type="password" name="password_confirmation" id="password_confirmation" class="md-input" tabindex="7" required>
								<label>Confirm Password</label>
							</div>
						</div> -->
					</div>
					<hr class="colorgraph">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<button md-ink-ripple type="submit" class="md-btn md-raised blue btn-block p-h-md">Register</button>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a ui-sref="authin" class="md-btn md-raised red btn-block p-h-md">Sign In</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>