<header id="navigation"> 
		<div class="navbar navbar-inverse navbar-fixed-top" role="banner"> 
			<div class="container"> 
				<div class="navbar-header"> 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
					</button> 
					<a class="navbar-brand" href="index.html"><h1><img src="public/UsrAlumni/dashboard/images/logo.png" alt="logo"></h1></a> 
				</div> 
				<div class="collapse navbar-collapse"> 
					<ul class="nav navbar-nav navbar-right"> 
						<!-- <li class="scroll"><a href="javascript:void(0)" ng-click="scrollTo('hero')">Home</a></li> 
						<li class="scroll"><a href="javascript:void(0)" ng-click="scrollTo('services')">Services</a></li> 
						<li class="scroll"><a href="javascript:void(0)" ng-click="scrollTo('our-team')">Our Team</a></li> 
						<li class="scroll"><a href="javascript:void(0)" ng-click="scrollTo('portfolio')">Portfolio</a></li> 
						<li class="scroll"><a href="javascript:void(0)" ng-click="scrollTo('clients')">Clients</a></li> 
						<li class="scroll"><a href="javascript:void(0)" ng-click="scrollTo('a')">Blog</a></li> 
						<li class="scroll"><a href="javascript:void(0)" ng-click="scrollTo('contact')">Contact</a></li> 
						<li class="scroll"><a href="javascript:void(0)" ng-click="scrollTo('about-us')">About</a></li>  -->

						<li class="scroll"><a href="javascript:void(0)"  smooth-scroll target="services" offset="30">Home</a></li> 
						<li class="scroll"><a href="javascript:void(0)"  smooth-scroll target="services" offset="30">Service</a></li> 
						<li class="scroll"><a href="javascript:void(0)"  smooth-scroll target="hero" offset="30">News</a></li> 
						<li class="scroll"><a href="javascript:void(0)"  smooth-scroll target="portfolio" offset="30">Portfolio</a></li>
						<li class="scroll"><a href="javascript:void(0)"  smooth-scroll target="about-us" offset="30">About Us</a></li> 
						<li class="scroll"><a href="javascript:void(0)"  smooth-scroll target="our-team" offset="30">Our Team</a></li> 
						<!-- <li class="scroll"><a href="#clients">Clients</a></li>  -->
						<!-- <li class="scroll"><a href="#blog">Blog</a></li>  -->
						<li class="scroll"><a href="javascript:void(0)"  smooth-scroll target="contact" offset="30">Contact</a></li> 
					</ul> 
				</div> 
			</div> 
		</div><!--/navbar--> 
	</header> <!--/#navigation--> 

<!-- Begin Hero Bg -->
<div id="parallax">
</div>
<!-- End Hero Bg
	================================================== -->
<!-- Start Header
	================================================== -->
