<div class="wrapper">
<div class="container" >

    <div class="row" style="margin-top:50px;">
    <img src="public/UsrAlumni/img/log.jpg" class="bg-cardd"/>
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="p-lg panel md-whiteframe-z1 text-color m">
                <form ng-submit="LoginController1.doLogin(loginData);">
                    <fieldset>
                        
                        <img id="profile-img" class="profile-img-card" src="public/UsrAlumni/img/if.png" />
                        <hr class="colorgraph">
                        <h4 align="center" class="alert alert-warning" ng-show="LoginController1.errorMsg">{{LoginController1.errorMsg}}</h4>
                        <div class="md-form-group float-label">
                          <input autofocus type="text" class="md-input" ng-model="LoginController1.loginData.username" required>
                          <label>Username</label>
                      </div>
                      <div class="md-form-group float-label">
                          <input type="password" class="md-input" ng-model="LoginController1.loginData.password" required>
                          <label>Password</label>
                      </div>                      
                      <div class="m-b-md">        
                          <label class="md-check">
                            <input type="checkbox" ng-model="rememberMe"><i class="indigo"></i> Keep me signed in
                        </label>
                    </div>
                    <hr class="colorgraph">
                    <div class="row">

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md">Sign in</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a ui-sref="MgSignup" class="md-btn md-raised blue btn-block p-h-md">Register</a>
                        </div>
                    </div>

                </fieldset>

            </form>
        </div>
    </div>
    </img>
</div>
</div>
</div>
